
<h2>@ViewBag.Title</h2>
<h3>My contact information</h3>

<address>
    <strong>Email Address:</strong>   <a href="mailto:celeslie@gmail.com">celeslie@gmail.com</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/ryanceleslie" target="_blank">&#64;ryanceleslie</a>
</address>