
<h2>@ViewBag.Title</h2>
<h3>Leader and developer with a passion for programming</h3>


<div class="jumbotron clear-fix">
    <div style="float: left; display: inline; padding-right: 20px;">
        <img src="~/Images/me_2019.jpg" class="rounded img-thumbnail" style="width: 250px;"/>
    </div>

    <div style="float: left; display: inline; max-width:725px;">
        <p class="lead">
            Since 2004 I have succeeded as a developer and leader in software development; applying my many years of coding experience to create development practices at clients, build better software teams, and move businesses forward with new technology
        </p>
        <p>
            <a href="https://twitter.com/ryanceleslie" class="btn btn-info btn-lg" target="_blank">Twitter &raquo;</a>
            <a href="https://github.com/ryanceleslie" class="btn btn-success btn-lg" target="_blank">GitHub Profile &raquo;</a>
            <a href="https://www.linkedin.com/in/ryan-celeslie-77321310/" class="btn btn-primary btn-lg" target="_blank">LinkedIn &raquo;</a>
            <a href="/RyanCeleslie/Views/Home/Resume_v4.pdf" class="btn btn-warning btn-lg" target="_blank">Resume &raquo;</a>
        </p>
    </div>
</div>


<div class="row">
    <h2 style="padding-left: 15px;">Proficiencies</h2>
    <div class="col-md-4">
        <h3>Management</h3>
        <p>
            <ul>
                <li>People-Centric Leadership</li>
                <li>Mentoring</li>
                <li>Technical Strategy</li>
                <li>Meeting Goals</li>
                <li>Advocating Change</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h3>.NET</h3>
        <p>
            <ul>
                <li>ASP.NET</li>
                <li>MVC</li>
                <li>Entity Framework</li>
                <li>C#</li>
                <li>Microservices</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Web</h3>
        <p>
            <ul>
                <li>Azure</li>
                <li>MongoDb (NoSQL)</li>
                <li>Enterprise Architecture</li>
                <li>CI/CD Automation</li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <h2 style="padding-left: 15px;">Employment History</h2>
    <div class="col-md-4">
        <h3>AssureCare</h3>
        <p>
            Senior director in charge of all product development teams, creating technical vision with the architecture team, and overseeing the strategy and execution.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Tide Cleaners at P&G</h3>
        <p>
            Director of software development overseeing the development practice, including devops, and revamping to a modern process with microservices
        </p>
    </div>
    <div class="col-md-4">
        <h3>Paycor</h3>
        <p>
            Senior Manager of product development, responsible for enterprise-wide application security. Applied CI/CD improvements, Shift Left testing, and DocFx documentation as team initiatives.
        </p>
    </div>
    <div class="col-md-4">
        <h3>CBTS</h3>
        <p>
            IT Manager for the Application Development practice, handling the entire software development practice for various clients.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Cardinal Solutions</h3>
        <p>
            Team Lead for an IT consulting, developed SharePoint and .NET solutions for a variety of clients. Managed a team of junior and senior developers.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Barry-Wehmiller</h3>
        <p>Web developer responsible for corporate intranet development and maintenance. Recognized as a leader receiving the Guiding Principles of Leadership award.</p>
    </div>
</div>

<center>
    <a class="btn btn-default" href="https://1drv.ms/b/s!AjwqjTIalYT_hc8UjgLEdrqWMjxenw?e=ZMJqMv" target="_blank">More info in resume &raquo;</a>
</center>


@*@{
        ViewBag.Title = "Ryan Celeslie";
    }

    <script>
        (function (d, t) {
            var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            g.src = 'http://assets.gfycat.com/js/gfyajax-0.517d.js';
            s.parentNode.insertBefore(g, s);
        }(document, 'script'));
    </script>

    <div>
        <h2>Completing a project before the deadline and everything works perfectly.</h2>
        <div class="img-container">
            <video autoplay="" loop="" poster="true">
                <source class="mp4source" src="http://fat.gfycat.com/SnoopyFrighteningDassie.mp4" type="video/mp4">
                <source class="webmsource" src="http://fat.gfycat.com/SnoopyFrighteningDassie.webm" type="video/webm">
            </video>
        </div>
    </div>

    <hr />

    <div>
        <h2>Writing a hundred lines of code and it works perfectly the first time</h2>
        <div class="img-container">
            <video autoplay="" loop="" poster="true">
                <source class="mp4source" src="http://zippy.gfycat.com/DismalTornBronco.mp4" type="video/mp4">
                <source class="webmsource" src="http://zippy.gfycat.com/DismalTornBronco.webm" type="video/webm">
            </video>
        </div>
    </div>

    <hr />

    <div>
        <h2>F5 -> "A feature with ID has already been installed in this farm"</h2>
        <div class="img-container">
            <video autoplay="" loop="" poster="true">
                <source class="mp4source" src="http://zippy.gfycat.com/DapperQuickAlbacoretuna.mp4" type="video/mp4">
                <source class="webmsource" src="http://zippy.gfycat.com/DapperQuickAlbacoretuna.webm" type="video/webm">
            </video>
        </div>
    </div>

    <hr />

    <div>
        <h2>When a new version of SharePoint still has the same annoying solution architecture</h2>
        <div class="img-container">
            <video autoplay="" loop="" poster="true">
                <source class="mp4source" src="http://zippy.gfycat.com/SnarlingDesertedAlpaca.mp4" type="video/mp4">
                <source class="webmsource" src="http://zippy.gfycat.com/SnarlingDesertedAlpaca.webm" type="video/webm">
            </video>
        </div>
    </div>

    <hr />

    <div>
        <h2>Implementing responsive design in SharePoint 2007/2010</h2>
        <div class="img-container">
            <video autoplay="" loop="" poster="true">
                <source class="mp4source" src="http://zippy.gfycat.com/PresentSickAmurstarfish.mp4" type="video/mp4">
                <source class="webmsource" src="http://zippy.gfycat.com/PresentSickAmurstarfish.webm" type="video/webm">
            </video>
        </div>
    </div>*@
